<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>



</p>

<div class="clearfix">
  <%= link_to("READ", read_book_path(@book), :class => "btn btn-default pull-right" ) %>
  <%= link_to("Convert", convert_book_path(@book), :class => "btn btn-default pull-right", :method => :post  ) %>
  <%= link_to("Preview", preview_book_path(@book), :class => "btn btn-default pull-right" ) %>
  <%= link_to("Translate", translate_book_path(@book), :class => "btn btn-default pull-right", :method => :post ) %>

</div>
<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>
        #
      </td>
      <td>
        原文大小
      </td>
      <td>
        翻譯狀態
      </td>

      <td>
        翻譯後字數
      </td>

      <td>Preview</td>
    </tr>
  </thead>
  <tbody>
  <% @parsed_chapters.each do |chapter| %>
    <tr>
      <td width="2">
        <%= chapter.id %>
      </td>


      <td>
        <%= chapter.content.length %>
      </td>

      <td>
        <%= chapter.is_translated %>
      </td>

      <td>
        <%= chapter.translated_words_count %>
      </td>

      <td>
        <% if chapter.is_translated %>
          <%= link_to(chapter.id, read_book_parsed_chapter_path(@book,chapter) )%> 
        <% end %>
      </td>

    </tr>
  <% end %>
</tbody>
</table>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
