<div class="row">
  <div class="col-md-3">
    <%= render :partial => "chapters/chapter_list" %>
  </div>

  <div class="col-md-9">




    <div class="clearfix">

        <%= link_to("EDIT", edit_book_chapter_path(@book, @chapter), :class => "btn btn-default pull-right" ) %>
          <h1> <%= @chapter.title %> </h1>
    </div>
  <hr>


  <ul class="pager">
    <li class="previous"> <%= render_prev_chapter_button(@chapter) %></li>
    <li class="next"><%= render_next_chapter_button(@chapter) %>
    </li>
  </ul>


    <div class="well">

          <%= @chapter.content.to_markdown  %>

    </div>


    <ul class="pager">
      <li class="previous"> <%= render_prev_chapter_button(@chapter) %></li>
      <li class="next"><%= render_next_chapter_button(@chapter) %>
      </li>
    </ul>



  </div>
</div>
